.navbar-nav > .user-menu > .dropdown-menu {
  border-radius: 0;
  padding: 0;
  border-top-width: 0;
  width: 225px;
}
li.dropdown-header {
  padding: 5px 10px;
  color: #394263;
  background-color: #f9fafc;
  border-top: 1px solid #eaedf1;
  border-bottom: 1px solid #eaedf1;
}